@{
    ViewData["Title"] = "Từ chối truy cập";
}

<div class="container py-5 mt-5">
    <div class="row justify-content-center text-center">
        <div class="col-md-6">
            <div class="glass-card page-card shadow-sm py-5">
                <i class="fa-solid fa-triangle-exclamation text-warning mb-4" style="font-size: 6rem;"></i>
                <h2 class="fw-bold text-dark mb-3">Truy cập bị từ chối!</h2>
                <p class="text-muted mb-4 d-block px-4">Tài khoản của bạn không có đủ thẩm quyền để truy cập vào phân vùng này. Vui lòng kiểm tra lại quyền hạn hoặc liên hệ quản trị viên.</p>
                <a href="/" class="btn btn-medical-outline rounded-pill px-4"><i class="fa-solid fa-house me-2"></i> Trở về Trang chủ</a>
            </div>
        </div>
    </div>
</div>
